.card-character{
    width: 18rem;
}
.container-characters{
    margin: 3rem 2rem 6rem 2rem;
}
.pagination{
    margin-left: 40%;
}
.card-content{
    color: white;
    background-color: #381641;
    opacity: 0.75;
    overflow: hidden;
    max-height: 120px;
}
.link-link{
    color: #000000;
    text-decoration: none;
    transition: 0.5s;

}
.link-link:hover{
    text-decoration: underline;
    transition: 0.5s;
    color: #fffafa;
}