.slider {
  display: flex;
  align-items: center;
  margin: 20px;

  opacity: 0;
  transform: scale(85%);
  transition: 2s;
}

.slider--zoom {
  opacity: 1;
  transform: scale(100%);
  transition: 2s;
}

.slider__image {
  width: 60%;
  cursor: pointer;
  transition: 0.5s;
}
.slider__image:hover{
  box-shadow: 10px 5px 5px #381641;
  transition: box-shadow 0.5s ease;
}

.slider__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}
.slider__title {
  text-align: center;
  color: white;
}
.slider__title:hover{
  color: #381641;
  transition: color 0.5s ease;
}
p{
  color: white;
}

@media screen and (max-width: 800px) {
  .slider {
    flex-direction: column;
    background-color: rgb(236, 236, 236);
  }

  .slider__image {
    width: 100%;
  }
}
